h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #333;
}

.add-btn {
  display: block;
  width: 100%;
  margin-top: 15px;
  padding: 10px;
  background-color: #10b981;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
}

.add-btn:hover {
  background-color: #059669;
}

.container-showtasks {
  max-width: 600px;
  margin: 50px auto;
  background: white;
  padding: 25px;
  border-radius: 12px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
}