.task-list {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.task {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #ffffff;
  padding: 12px 16px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.08);
  transition: 0.2s ease;
}

.task:hover {
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.14);
}

/* LEFT SIDE */
.task-left {
  display: flex;
  align-items: center;
  gap: 12px;
}

.task-left input[type="checkbox"] {
  transform: scale(1.2);
  cursor: pointer;
}

.completed {
  text-decoration: line-through;
  color: #9ca3af;
}

/* INPUT FIELD */
.edit-input {
  padding: 6px 10px;
  border-radius: 6px;
  border: 1px solid #ccc;
  outline: none;
}

/* RIGHT SIDE */
.task-actions {
  display: flex;
  gap: 8px;
}

/* BUTTONS */
.btn {
  border: none;
  padding: 6px 12px;
  border-radius: 6px;
  cursor: pointer;
  font-size: 14px;
}

/* COLORS */
.edit-btn {
  background: #3b82f6;
  color: white;
  transition: background 0.2s ease;
}

.edit-btn:hover {
  background: #1759e7;
}

.save-btn {
  background: #3b82f6;
  color: white;
  transition: background 0.2s ease;
}

.save-btn:hover {
  background: #1759e7;
}

.delete-btn {
  background: #ef4444;
  color: white;
  transition: background 0.2s ease;
}

.delete-btn:hover {
  background: #e11b1b;
}